page-sub-search {
    .search_div {
        padding: 0 20px;
    }
    .search_imgs {
        margin: auto;
        display: table;
    }
    .Search_input {
        font-size: 17px;
        color: #06a7f7;
        padding: 2px 0 0 0;
    }
    .Search_row {
        background: #fff;
        border-radius: 50px;
        padding: 5px 0;
        margin: 5px 0px;
    }
    .Header_home {
        background-color: #606c81;
    }
}