<ion-content class="main_cntaint">
  <ion-list class="Padding_list">

    <ion-item class="Item_bg" no-lines>
      <ion-icon name="ios-close-circle" class="Close_icon" (click)="Close()"></ion-icon>
    </ion-item>

    <ion-item class="Item_bg" no-lines>
      <div class="Heder_title">Tradesglobe</div>
      <div class="Sub_header" *ngIf="CondisonHelp == 'Login'">help signing in</div>
      <div class="Sub_header" *ngIf="CondisonHelp == 'Signup'">Terms and Conditions</div>
      <div text-wrap class="Detail_div">
        The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer
        sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all
        around the web; on templates, websites, and stock designs. Use our generator to get your own, or read on for the
        authoritative history of lorem ipsum.
      </div>
    </ion-item>

  </ion-list>
</ion-content>