page-confirmcheckout {
	.toolbar-title-md{color: #ffffff;}
    .toolbar-title-ios{color: #ffffff;}
    .label-md{margin: 0px;}
    .item-md.item-block .item-inner{padding: 0px;}
    .item-md{padding: 0px;}
    .label-ios{margin: 0px;}
    .item-ios.item-block .item-inner{padding: 0px;}
    .item-ios{padding: 0px;}
    .col{padding: 0px;}
    .item-block{min-height: 1.4rem;}
    .ListClass{
        padding: 0px 5px;
    }
    .Item_class{
        padding: 15px 0;
        border-bottom: 1px solid #dfdfdf !important;
    }
    .imag_class{
        width: 50px;
        height: auto;
    }
    .Col_8_padd{
        padding: 0 0 0 8px;
    }
    .Pruduct_name{
        font-size: 13px;
        font-weight: 600;
    }
    .Pruduct_price{
        font-size: 12px;
        padding: 10px 0;
    }
    .Col_border{
        border: 1px solid #d6d6d6;
        padding: 8px 0;
    }
    .remove_add{
        color: #4e4e4e;
    }
    .CartCol_btn{
        padding: 0 5px 0 5px;
    }    
    .AddToCart{
        text-transform: none;
        font-size: 14px !important;
        font-weight: 300;
        margin: 0px auto;
        border-radius: 5px;
        letter-spacing: 0.5px;
        width: 95%;
        background: #606c81;
    }
    .circle_close_div{
        font-size: 20px !important;
        text-align: center;
        padding: 0 0 10px 0;
    }
    .forward_arrow_div{
        font-size: 20px !important;
        text-align: center;
        padding: 8px 0 0 0;
    }
    .footer_calss{
        padding: 5px 15px 15px;
    }
    .Checkout_div{
        font-size: 13px;
        margin: 0px;
        border-radius: 6px;
        background: #606c81;
        letter-spacing: 1px;
    }
    .Item_subtotal{
        font-size: 13px;
        padding: 5px 0 10px;
        font-weight: 500;
    }
    .subtotal_span{
        float: right;
    }
	.address,.payment_type{
		padding:10px;
	}
}
